In [63]:
import pandas as pd

In [64]:
df = pd.read_csv('data/yolo_prediction/All.csv')

In [65]:
df1 = pd.read_csv('data/coco_diff/Side25.csv')

In [66]:
df1

,Img,num_people,offset,face_avg_ratio,body_avg_ratio,extremities_avg_ratio,num_people_diff,people_size_diff,visibility_diff,offset_diff,total_dif
0,77,1,0.552877,0.20,0.75000,0.87500,0.500000,0.956509,0.500000,0.552877,0.627346
1,109,1,0.535469,0.00,0.00000,0.00000,0.500000,0.999780,1.000000,0.535469,0.758812
2,110,4,0.635105,0.55,0.53125,0.09375,0.800000,0.942673,0.546875,0.635105,0.731163
3,113,1,0.454983,0.80,0.87500,0.68750,0.500000,0.833067,0.200000,0.454983,0.497013
4,136,2,0.642477,0.50,0.25000,0.06250,0.666667,0.954110,0.662500,0.642477,0.731439
...,...,...,...,...,...,...,...,...,...,...,...
36257,581857,2,0.255350,0.50,0.93750,0.21875,0.666667,0.959136,0.425000,0.255350,0.576538
36258,581860,1,0.056894,0.60,0.25000,0.00000,0.500000,0.399373,0.625000,0.056894,0.395317
36259,581880,1,0.432676,0.00,0.00000,0.06250,0.500000,0.892423,0.987500,0.432676,0.703150
36260,581881,3,0.471978,0.00,0.00000,0.00000,0.750000,0.999751,1.000000,0.471978,0.805432
36261,581900,1,0.538217,0.20,0.75000,0.87500,0.500000,0.973725,0.500000,0.538217,0.627985

In [67]:
grouped = df[['Img_ID', 'Format', 'Confidence']].groupby(['Format', 'Img_ID']).count()

In [68]:
df[(df['Confidence']>0) & (df['Format'].isna()) ]

Empty DataFrame
Columns: [ID, Img_ID, Confidence, Format, x_center, y_center, width, height]
Index: []

In [76]:
df[df['Format'].isna()]

          ID  Img_ID  Confidence Format  x_center  y_center  width  height
18      1900    1900         0.0    NaN       NaN       NaN    NaN     NaN
22      2764    2764         0.0    NaN       NaN       NaN    NaN     NaN
70      6789    6789         0.0    NaN       NaN       NaN    NaN     NaN
75      8187    8187         0.0    NaN       NaN       NaN    NaN     NaN
112    12109   12109         0.0    NaN       NaN       NaN    NaN     NaN
...      ...     ...         ...    ...       ...       ...    ...     ...
5210  548174  548174         0.0    NaN       NaN       NaN    NaN     NaN
5269  550834  550834         0.0    NaN       NaN       NaN    NaN     NaN
5408  563947  563947         0.0    NaN       NaN       NaN    NaN     NaN
5453  571636  571636         0.0    NaN       NaN       NaN    NaN     NaN
5491  572884  572884         0.0    NaN       NaN       NaN    NaN     NaN

[121 rows x 8 columns]

In [70]:
df[df['Img_ID']==1900]

      ID  Img_ID  Confidence Format  x_center  y_center  width  height
18  1900    1900         0.0    NaN       NaN       NaN    NaN     NaN

In [71]:
df1[df1['Img']==1900]

Empty DataFrame
Columns: [Img, num_people, offset, face_avg_ratio, body_avg_ratio, extremities_avg_ratio, num_people_diff, people_size_diff, visibility_diff, offset_diff, total_dif]
Index: []

In [72]:
import cv2
import numpy as np
image = cv2.imread("./imgs/000000001900.jpg")
if np.all(image[..., 0] == image[..., 1]) and np.all(image[..., 1] == image[..., 2]):
    print("L'immagine Ã¨ in scala di grigi (3 canali con valori identici).")
else:
    print("L'immagine Ã¨ a colori (RGB).")

L'immagine Ã¨ in scala di grigi (3 canali con valori identici).